<form [formGroup]="riskForm" (onSubmit)="doSomething()">
  <div class="form-group row" style="text-align: left;">
    <label for="staticEmail" class="col col-form-label">ID. Riesgo</label>
    <div class="col-sm-8">
      <input type="text" formControlName="idRiesgo" class="form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col col-form-label">Código</label>
    <div class="col-sm-8">
      <ng-select
      bindLabel="name"
      formControlName="codigoRiesgo"
      dropdownPosition="bottom"
      [items]="items"
      autofocus
      >
</ng-select>
    </div>
  </div>

  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col col-form-label">Subcod</label>
    <div class="col-sm-8">
      <ng-select
      bindLabel="name"
      formControlName="subCodigoRiesgo"
      autofocus
      >
</ng-select>
    </div>
  </div>

  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col col-form-label">Tema</label>
    <div class="col-sm-8">
      <ng-select
      bindLabel="name"
      formControlName="tema"
      dropdownPosition="bottom"
      [items]=""
      autofocus
      >
</ng-select>
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col col-form-label">Subtema</label>
    <div class="col-sm-8">
      <ng-select
      bindLabel="name"
      formControlName="subTema"
      autofocus
      >
</ng-select>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col col-form-label">Medidas</label>
    <div class="col-sm-8">
      <input class="form-control"
      type="text" 
      formControlName="medidas" 
      />
    </div>
  </div>
  <button type="submit" (click)="doSomething()">Test</button>
</form>
