<!-- Hamburguesa Button -->
<div class="side_menu ">
  <div class="burger_box ">
    <div class="menu-icon-container ">
      <a href="#" class="menu-icon js-menu_toggle closed ">
        <span class="menu-icon_box ">
          <span class="menu-icon_line menu-icon_line--1 "></span>
          <span class="menu-icon_line menu-icon_line--2 "></span>
          <span class="menu-icon_line menu-icon_line--3 "></span>
        </span>
      </a>
    </div>
  </div>

  <!-- Menu desplegable -->
  <div class="container ">
    <ul class="list_load ">
      <li class="list_item "><a href="#">Mi escritorio</a></li>
      <li class="list_item "><a href="#">Evaluaciones</a></li>
      <li class="list_item "><a href="#">Empleados</a></li>
      <li class="list_item "><a href="#">Puestos</a></li>
      <li class="list_item ">
        <a id="fichas" href="#submenu1" data-toggle="collapse">
          Fichas
          <em class="icon fa fa-angle-right"></em>
        </a>
        <ul id="submenu1" class="collapse submenu1">
          <li class="list_item "><a href="#">Consulta ficha</a></li>
          <li class="list_item "><a href="#">Editar ficha</a></li>
          <li class="list_item "><a href="#">Alta ficha</a></li>
        </ul>
      </li>
      <li class="list_item "><a href="#">Riesgos</a></li>
      <li class="list_item "><a href="#">Documentación</a></li>
      <li class="list_item ">
        <a id="her" href="#submenu2" data-toggle="collapse">
          Herramientas
          <em class="icon fa fa-angle-right"></em>
        </a>
        <ul id="submenu2" class="collapse submenu1">
          <li class="list_item "><a href="#">Consulta colas</a></li>
          <li class="list_item ">
            <a id="inf" href="#submenu3" data-toggle="collapse">
              Informes
              <em class="icon fa fa-angle-right"></em>
            </a>
            <ul id="submenu3" class="collapse submenu2">
              <li class="list-item"><a href="#">Generador informes</a></li>
              <li class="list-item"><a href="#">Listado memoria anual</a></li>
            </ul>
          </li>
          <li class="list_item ">
            <a id="cnt" href="#submenu4" data-toggle="collapse">
              Central
              <em class="icon fa fa-angle-right"></em>
            </a>
            <ul id="submenu4" class="collapse submenu2">
              <li class="list-item"><a href="#">Lorem Ipsum</a></li>
              <li class="list-item"><a href="#">Lorem Ipsum</a></li>
            </ul>
          </li>
          <li class="list_item ">
            <a id="adm" href="#submenu5" data-toggle="collapse">
              Administración
              <em class="icon fa fa-angle-right"></em>
            </a>
            <ul id="submenu5" class="collapse submenu2">
              <li class="list-item">
                <a id="seg" href="#submenu6" data-toggle="collapse">
                  Seguridad
                  <em class="icon fa fa-angle-right"></em>
                </a>
                <ul id="submenu6" class="collapse submenu3">
                  <li class="list-item"><a href="#">Lorem Ipsum</a></li>
                  <li class="list-item"><a href="#">Lorem Ipsum</a></li>
                </ul>
              </li>
              <li class="list-item">
                <a id="dm" href="#submenu7" data-toggle="collapse">
                  Datos maestros
                  <em class="icon fa fa-angle-right"></em>
                </a>
                <ul id="submenu7" class="collapse submenu3">
                  <li class="list-item"><a href="#">Lorem Ipsum</a></li>
                  <li class="list-item"><a href="#">Lorem Ipsum</a></li>
                </ul>
              </li>
              <li class="list-item"><a href="#">Mantenimiento EPI's</a></li>
              <li class="list-item"><a href="#">Protocolos médicos</a></li>
              <li class="list-item"><a href="#">Instrucciones</a></li>
              <li class="list-item">
                <a id="al" href="#submenu3" data-toggle="collapse">
                  Agentes laborales
                  <em class="icon fa fa-angle-right"></em>
                </a>
                <ul id="submenu8" class="collapse submenu3">
                  <li class="list-item"><a href="#">Embarazo</a></li>
                  <li class="list-item"><a href="#">Lactancia</a></li>
                  <li class="list-item"><a href="#">Recurso preventivo</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="list_item "><a href="#">Histórico de cambios y mejoras</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
