<header id="header" class="mb-3">
  <div class="container-fluid page-header">
    <div class="row">
      <div class="col-12 col-lg-9 logo-wrapper">
        <div class="row">
          <div class="col-4 col-xl-2">
            <img alt="EULEN" src="assets/img/logo.png" class="logo">
          </div>
          <div class="col-8 col-xl-10">
            <h1>Hércules Prevención de Riesgos Laborales</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="user-info col-12 text-right">
            <ul>
              <li class="icon-user"><img src="assets/img/user.svg"></li>
              <li>
                <p>{{ session.usuario.nombre }}</p>
                <p>Administrador</p>
              </li>
              <li class="icon-cerrar text-right"><a href="#"><img (click)="logOut()" src="assets/img/cerrar.svg"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
