
<mat-sidenav-container *ngIf="sessionUser !== null">
    <mat-sidenav #sidenav mode="over">
      <mat-icon style="cursor: pointer" (click)="sidenav.toggle()">
        <span class="material-icons closeIcon">
          close
        </span>
      </mat-icon>
     <app-hercules3-menu></app-hercules3-menu>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <button mat-button (click)="sidenav.toggle()"><span class="material-icons menuIcon">
        menu
        </span></button>
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <router-outlet *ngIf="sessionUser === null"></router-outlet>



