<div *ngIf="searchType === 'Clientes'" class="form-group">
    <label>Cliente</label>
    <div class="form-group mb-2">
        <select class="form-control">
            <option *ngFor="let item of data">{{ item.idCliente }} - {{ item.nombre }}</option>
          </select>
    </div>
</div>
<div *ngIf="searchType === 'Clientes'" class="form-group form-inline">
  <p>Proyectos:</p>
</div>

<div mat-dialog-content *ngIf="searchType === 'Ofertas' && data">
    <div style="display: flex; flex-direction: row; justify-content: flex-end">
        <span class="material-icons closeIcon">
            close
          </span>
    </div>
   
    <p mat-dialog-title style="margin-bottom: 20px;">Ofertas:</p>
    
    <mat-accordion>
        <mat-expansion-panel  [disabled]="isDisabled" class="mat-elevation-z0" style="margin-bottom: 10px;" *ngFor="let item of data">
          <mat-expansion-panel-header style="background-color: #EEEEEE !important; color: black;">
            <mat-panel-title style="background-color: #EEEEEE !important; color: black;">
                <mat-checkbox (click)="makeSelection(item.idProvincia)">{{ item.nombre }}</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let child of item.children">
            <mat-expansion-panel-header style="background-color: white !important; color: black;">
              <mat-panel-title style="background-color: white !important; color: black;">
                <mat-checkbox (click)="makeSelection(item.idProvincia, child.nombre)">{{ child.nombre }}</mat-checkbox>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let childLevel2 of child.children">
                <mat-checkbox [checked]="temaIsSelected" (click)="makeSelection(item.idProvincia, null, childLevel2.nombre)"> {{ childLevel2.nombre }}</mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-expansion-panel>
        </mat-accordion>


    </div>
<div mat-dialog-actions *ngIf="data">
    <button mat-button mat-dialog-close mat-raised-button color="primary" (click)="confirm()">Aceptar</button>
    <button mat-button mat-dialog-close mat-raised-button color="warn" (click)="confirm()">Cancelar</button>
  </div>

